@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&family=Gluten:wght@400;900&family=The+Girl+Next+Door&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-heading
  }
  h2 {
    @apply font-heading
  }
  h3 {
    @apply font-heading
  }
}


html,
body {
  padding: 0;
  margin: 0;
  height: 100dvh;
  overscroll-behavior: none;
  font-size: larger; 
}

* {
  box-sizing: border-box;
}
